<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC connection properties -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/coffeeclassesdb</property>
		<property name="hibernate.connection.username">coffeeclasses</property>
		<property name="hibernate.connection.password">coffeeclasses</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Hibernate connection pool (C3P0) -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>

		<!-- Enable logging of SQL -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Schema update (set to "update" to automatically update schema) -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Classes -->
		<mapping class="fr.cyu.coffeeclasses.vanilla.entities.users.Administrator"/>
		<mapping class="fr.cyu.coffeeclasses.vanilla.entities.users.Student"/>
		<mapping class="fr.cyu.coffeeclasses.vanilla.entities.users.Teacher"/>
		<mapping class="fr.cyu.coffeeclasses.vanilla.entities.users.User"/>
		<mapping class="fr.cyu.coffeeclasses.vanilla.entities.elements.Course"/>
		<mapping class="fr.cyu.coffeeclasses.vanilla.entities.elements.Assessment"/>
		<mapping class="fr.cyu.coffeeclasses.vanilla.entities.elements.Enrollment"/>
		<mapping class="fr.cyu.coffeeclasses.vanilla.entities.elements.Grade"/>
	</session-factory>
</hibernate-configuration>
