body{
    background-image:url("../svg/x-pattern.svg");
    background-size:22px 22px;
    animation: moveBackground 60s linear infinite;
}
/* Animation */
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%; /* Adjusts the background to move diagonally */
    }
}

/* Banner */
.banner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:radial-gradient(circle at top left, #f6f6f6 50%, gray 190%);
    padding:10px 20px;
    border-bottom:3px solid #f90;
    box-shadow:0 .1em .5em rgba(0,0,0,.8)
}
.banner .site-title{
    display: flex;
    align-items: center;
    min-width: fit-content;
    font-size:1.7vw;
    font-weight:bold;
    color:#333;
}
.banner .site-title .icon{
    height:3vw;
    margin-right:1vw
}

/* Auth container */
.auth-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:80vh;
    padding:20px
}
.auth-container .auth-content{
    background-color:#fff;
    padding:2vw;
    border-radius:0.5em;
    box-shadow:0 .1em .5em rgba(0,0,0,.8);
    max-width:400px;
    width:100%;
    text-align:center
}

/* Errors */
.error-message {
    color: #b30000;
    font-size: 16px;
    padding: 15px;
    border: 2px solid #b30000;
    background-color: #fbe0e0;
    border-radius: 0.5em;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
    animation: shake 0.5s ease-in-out;
}
/* Shake effect */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
