body{
  background-image:url("../svg/x-pattern.svg");
  background-size:20px 20px
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at top left, #f6f6f6 50%, gray 190%);
  padding: 10px 20px;
  border-bottom: 3px solid #f90;
  box-shadow: 0 .1em .5em rgba(0, 0, 0, .8);

  .site-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;

    .icon {
      width: 30px;
      height: 30px;
      margin-right: 10px
    }
  }
}

.auth-container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:80vh;
  padding:20px;

  .auth-content {
    background-color: #fff;
    padding: 2vw;
    border-radius: 2px;
    box-shadow: 0 .1em .5em rgba(0, 0, 0, .8);
    max-width: 400px;
    width: 100%;
    text-align: center
  }
}

.error-message{
  color:red;
  font-size:14px;
  padding:10px;
  border:1px solid red;
  background-color:#ffe6e6;
  margin-bottom:20px
}